*{
    font-family: poppins;
}
body{
    display: flex;
    flex-direction: column;
    background-color: black;
    color: rgb(235, 235, 235);
    margin: 20px;
    padding: 20px;
    background-image: url('/images/background1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo{
    background-color:rgb(1, 150, 209);
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    font-weight:bolder;
    font-style: italic;
}
nav ul{
    width: 500px;
    display: flex;
    justify-content: space-around;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: white;
    padding: 10px;
}
nav ul li a:hover{
    font-weight: 700;
}
nav ul li a:active{
    border:1px solid rgb(1, 150, 209);
}
.empty{
    height: 100px;
    width: 100%;
}
.body{
    display: flex;
    justify-content: center;
    height: fit-content;
}
.content{
    width: 400px;
}
strong{
    color: rgb(1, 150, 209);
}
button{
    background-color:rgb(1, 150, 209) ;
    border-radius: 7px;
    color: white;
    margin-right: 30px;
    padding: 8px;
}
a{
    color: rgb(1, 150, 209);
}
#profile{
    width: 400px;
}
#profile img{
    width: 400px;
    height: 350px;
    margin-left: 50px;
}
footer{
    display: flex;
    align-items: center;
    height: 50px;
}
.fa {
    padding: 10px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
  }
  .fa:hover {
    opacity: 0.7;
  }
  .fa-youtube {
    color: rgb(235, 15, 15);
  }