*{
    font-family: Cardo;
}
body{
    display: flex;
    flex-direction: column;
    background-color: black;
    color: rgb(235, 235, 235);
    margin: 20px;
    padding: 20px;
    background-image: url('../images/background1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0%;
    width: 100%;
    margin-top: 0px;
    padding-top: 20px;
    background-color: black;
    /*position:sticky;*/
}
.logo{
    background-color:rgb(1, 150, 209);
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    font-weight:bolder;
    font-style: italic;
}
nav ul{
    width: 500px;
    display: flex;
    justify-content: space-around;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: white;
    padding: 10px;
}
nav ul li a:hover{
    font-weight: 700;
}
nav ul li a:active{
    color: rgb(1, 150, 209);
}
.empty{
    height: 80px;
    width: 100%;
}
.body{
    display: flex;
    justify-content: center;
    height: fit-content;
}
.content{
    width: 400px;
}
strong{
    color: rgb(1, 150, 209);
}
button{
    background-color:rgb(1, 150, 209) ;
    border-radius: 7px;
    color: white;
    margin-right: 30px;
    padding: 8px;
}
a{
    color: rgb(1, 150, 209);
}
#profile{
    width: 400px;
}
#profile img{
    width: 400px;
    height: 350px;
    margin-left: 50px;
}
footer{
    display: flex;
    align-items: center;
    height: 100px;
    position: static;
}
footer p{
    margin-left: 300px;
}
.fa {
    padding: 10px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
  }
  .fa:hover {
    opacity: 0.7;
  }
  .fa-youtube {
    color: rgb(235, 15, 15);
  }
  #about{
      background-repeat: repeat;
  }
  .about{
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  .experience{
      background-color: rgb(49, 41, 41);
      width: 50%;
      padding: 20px;
      margin-bottom: 10px;
      line-height: 30px;
      font-size: large;
  }
  th, td {
    border: 1px solid black;
    background-color: rgb(70, 68, 68);
    text-align: center;
    padding: 15px;
    text-align: center;
  }
  table{
      border-collapse: collapse;
  }
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    font-size: medium;
  }
  
  input[type=submit] {
    background-color: rgb(1, 150, 209);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: rgb(1, 150, 209);
}
  .contact{
      width: 50%;
      margin-left: 25%;
  }
  .projects{
      margin-left: 40px;
  }
  .streetfood, .photography, .portfolio{
      display: flex;
      flex-direction: column;
      align-content: center;
      align-items: center;
      float: left;
      width: 40%;
      margin:10px;
      background-color: rgb(70, 68, 68);
  }
  .streetfood img{
      width: 300px;
      height: 200px;
  }
  .photography img{
    width: 300px;
    height: 200px;
}
.photography p, .streetfood p, .portfolio p{
    width: 300px;
}
.portfolio img{
    width: 300px;
    height: 200px;
}
#project{
    margin-left: 40%;
}